html, body {
    height: 100%;
}

body {
    margin: 0;
    background-color: #111111
}

#title {
    position: absolute;
    width: 100%;
    height: 5vh;
    color: white;
    text-align: center;
    margin: 0;
    border-bottom: 1px outset rgb(84, 44, 205);
    border-bottom-right-radius: 20vw;
    border-bottom-left-radius: 20vw;
    padding-bottom: 3vh;
    padding-top: 2vh;
    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#4645fc", GradientType=1);
    font-stretch: extra-expanded;
    font-family: fantasy;
}

#flex-container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    -ms-box-orient: horizontal;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    height: 90vh;
    width: 100%;
    position: fixed;
    bottom: 0;
}

#playfield {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    -ms-box-orient: horizontal;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    font-size: 1rem;
    height: calc(22vh + 20vw);
    width: calc(19vw + 40vh);
    background-color: #121212;
    color: white;
    text-align: center;
    border: 1px solid #555555;
    box-shadow: 5px 5px 30px grey;
    padding: auto
}

.playing {
    animation: playing 1s infinite;
    animation-direction: alternate;
}

@keyframes playing {
    from {
        box-shadow: 5px 5px 30px rgba(70, 69, 252, 1);
    }
    to {
        box-shadow: 5px 5px 50px rgba(253, 29, 29, 1);
    }
}

.card {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    height: calc(4vh + 4vw);
    width: calc(4vh + 4vw + 1px);
    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#4645fc", GradientType=1);
    margin-top: 1vh;
    margin-left: 10px;
    margin-right: 10px;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.card:hover {
    background: rgb(131, 58, 180);
    background: -moz-linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    background: linear-gradient(180deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(70, 69, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#833ab4", endColorstr="#4645fc", GradientType=1);
}

.rotate {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}

.play {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./img/music.png");
    pointer-events: none;
}

.hide {
    visibility: hidden
}